{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %} 
{% block content %}

<br></br>
<section class="container d-flex justify-content-center">
    <div>
    <form action="{% url 'login' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
    </form>
</div>
</section>
{% endblock %}