{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

{% endblock %} {% block content %}
<section>
    <h1>About Career Pionner</h1>
    <p>
        Career Pioneer is a job tracking application for anyone wanting assistance with 
        their job search. Users are able to sign up and start creating jobs that 
        they have applied for or want a saved record to go back to later. 
        Users can create many platforms that they search for jobs on, 
        application statuses, and more advanced job details. All of these fields 
        will be applied to each job you track so you never have to question where 
        you are in the job application process.
    </p>
    <p>About the Team:</p>
    <ul>
        <li><a href="https://www.linkedin.com/" target="_blank">Cody Gravley</a></li>
        <li><a href="https://www.linkedin.com/" target="_blank">Teal Ewer</a></li>
        <li><a href="https://www.linkedin.com/" target="_blank">Zena Endrias</a></li>
        <li><a href="https://www.linkedin.com/" target="_blank">Christine Davis</a></li>
    </ul>
{% endblock %}
