{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}
<section class='container d-flex flex-column align-items-center'>
    <div class="m-auto text-center">
    <h1 class="mb-4">About Career Pioneer</h1>
    <p>
        Career Pioneer is a job tracking application for anyone wanting assistance with 
        their job search. Users are able to sign up and start creating jobs that 
        they have applied for or want a saved record to go back to later. 
        Users can create many platforms that they search for jobs on, 
        application statuses, and more advanced job details. All of these fields 
        will be applied to each job you track so you never have to question where 
        you are in the job application process.
    </p>
    <h3>About the Team:</h3>
    <ul class="list-unstyled">
        <li><img src="{% static "images/cody.jpeg"%}" style="width: 120px; height: auto;"></img><a href="https://www.linkedin.com/in/codygravley/" target="_blank">Cody Gravley</a></li>
        <li><img src="{% static "images/teal.jpeg"%}" style="width: 120px; height: auto;"></img><a href="https://www.linkedin.com/in/teal-ewer/" target="_blank">Teal Ewer</a></li>
        <li><img src="{% static "images/zena.jpeg"%}" style="width: 120px; height: auto;"></img><a href="https://www.linkedin.com/in/zena-endrias/" target="_blank">Zena Endrias</a></li>
        <li><img src="{% static "images/christine.jpg"%}" style="width: 120px; height: auto;"></img><a href="https://www.linkedin.com/in/christine-davis-808/" target="_blank">Christine Davis</a></li>
    </ul>
</div>
</section>
{% endblock %}
