{% extends 'base.html' %} 
{% load static %} 

{% block head %}
{% endblock %} 

{% block content %}

<section class="container card shadow">
  <div class="card-body d-flex flex-column-reverse flex-md-row row">
    <img src="{% static 'images/Careerpioneer.png' %}" alt="" class="col col-md-5">
    <div class="col col-md-7">
    {% if not user.is_authenticated %}
      <h1 class="mb-4">Thanks For Checking Out Career Pioneer!</h1>
      <h3 class="mb-4">We're Glad To Have You! Please Sign Up or Login To Continue</h3>
      <a class="btn btn-success mx-2 my-2" href="{% url 'login' %}">Log In</a>
      <a class="btn btn-success mx-2 my-2" href="{% url 'signup' %}">Sign Up</a>
    </div>
    {% else %}
      <h1 class="card-title">Welcome Back {{ user }}!</h1>
      <h3>Click Here To Continue Your Job Tracking</h3>
      <a href="/jobs">My Jobs</a>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
