{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %} {% block content %}

{% if not user.is_authenticated %}
<section>
  <h1>Thanks For Checking Out Career Pioneer!</h1>
  <h3>We're Glad To Have You!</h3>
  <h3>Please Sign Up or Login To Continue</h3>
  <a href="/accounts/login">Login</a>
  <a href="{% url 'signup' %}">Sign Up</a>
{% else %}
  <h1>Welcome Back!</h1>
  <h3>Click Here To Continue Your Job Tracking</h3>
  <button href="/jobs" class=" btn jobs">My Jobs</button>
  <button href="{% url 'logout' %}" class="logout">Log Out</button>
  <p>{{ user }}</p>
{% endif %}
{% endblock %}
