{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <a href="/"><img src="{% static "images/Careerpioneername.png" %}" alt="Logo" class="img-fluid"></a>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        {% if user.is_authenticated %}
          <li><a class="active " href="/">Home</a></li>
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li><a href="{% url 'status' %}">Status</a></li>
          <li><a href="{% url 'create-platform' %}">Platform</a></li>
          <li><a href="/details">Details</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
        <li><a href="/about">About</a></li>
      </ul> 
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->
{% endblock %} 

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Career Pioneer</span></h2>
          <p class="animate__animated animate__fadeInUp">The best place to keep track of all your jobs!</p>
          <p>Sign up or login to continue!</p>
          {% if user.is_authenticated %}
            <a href="{% url 'jobs' %}" class="btn-get-started animate__animated animate__fadeInUp">View Jobs</a>
          {% else %}
            <a href="{% url 'signup' %}" class="btn-get-started animate__animated animate__fadeInUp">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}
