{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--Start Header-->
<header id="header" class="d-flex align-items-center">
  <div
   class="container d-flex
    justify-content-between align-items-center">

    <div class="logo">
      <a href="/">
        <img
         src="{% static "images/Careerpioneername.png" %}" alt="Logo"
         class="img-fluid">
      </a>
    </div>
    <!-- Start NavBar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'status' %}">Status</a></li>
        <li><a href="{% url 'create-platform' %}">Platform</a></li>
        <li><a href="/details">Details</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
      <i class="bi bi-list mobile-nav-toggle fa-solid fa-bars"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!--Main Stylesheet-->
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="container d-flex justify-content-center">
  <div class="card detail-card text-center py-4 px-5 shadow">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="card-body">
        <p class="mb-4">Are you sure you want to delete "{{ object }}"</p>
        <div class="d-flex justify-content-around">
          {%  if object.company %}
            <a class="btn btn-success" href="{% url 'job-details' object.id %}">Go Back</a>
          {% elif object.website %}
            <a class="btn btn-success" href="{% url 'create-platform'%}">Go Back</a>
          {% elif object.location %}
            <a class="btn btn-success" href="{% url 'details'%}">Go Back</a>
          {% else %}
            <a class="btn btn-success" href="{% url 'status'%}">Go Back</a>
          {% endif %}
          <button class="btn btn-outline-danger" type"submit">Delete</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}

