{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<main class="container d-flex justify-content-center">
  <div class="card shadow mt-4" style="max-width: 30rem">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="card-body">
        <p class="mb-4">Are you sure you want to delete "{{ object }}"</p>
        <div class="d-flex justify-content-around">
          <a class="btn btn-success" href="{% url 'jobs' %}">Go Back</a>
          <button class="btn btn-outline-danger" type"submit">Delete</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}