{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--Start Header-->
<header id="header" class="d-flex align-items-center">
  <div
   class="container d-flex
    justify-content-between align-items-center">

    <div class="logo">
      <a href="/">
        <img
         src="{% static "images/Careerpioneername.png" %}" alt="Logo"
         class="img-fluid">
      </a>
    </div>
    <!-- Start NavBar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a class="active" href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'status' %}">Status</a></li>
        <li><a href="{% url 'create-platform' %}">Platform</a></li>
        <li><a href="/details">Details</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
      <i class="bi bi-list mobile-nav-toggle fa-solid fa-bars"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!--Main Stylesheet-->
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>{{job.title}} @ {{job.company}}</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li>Job Details</li>
        </ol>
      </div>
    </div>
  </section>

<section class="w-100 h-100">
  <div class="container d-flex flex-column align-items-center">
    <div class="card shadow w-75 detail-card" style="max-width: 45rem">
      <div class="card-body">
        <ul class="list-group">
          <li class="card-title list-group-item"><span class="font-weight-bold">Title:</span> {{job.title}}</li>
          <li class="card-title list-group-item">Company: {{job.company}}</li>
          <li class="card-title list-group-item"><a target="_blank" href="{{job.url}}">{{job.platform}}</a></li>
          <li class="card-title list-group-item">Pay Range: {{job.pay_range}}</li>
          <li class="card-title list-group-item">Status: {{job.status}}</li>
          <li class="card-title list-group-item">Location: {{job.job_details}}</li>
            {% if job.resume_groomed %}
          <li class="card-title list-group-item">Resume Ready</li>
            {% else %}
          <li class="card-title list-group-item">Resume Not Ready</li>
            {% endif %}
          <li class="card-title list-group-item">Details: <br>{{job.notes}}</li>
        </ul>
        <div class="job-buttons">
          <div class="edit-delete">
            <a class="jobs"href="{% url 'jobs' %}">Back to Jobs</a>
            <a class="job-options"href="{% url 'update-job' job.id %}">Edit</a>
            <a class="job-options"href="{% url 'delete-job' job.id %}">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}
