{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<section class='container pt-4'>
  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title mb-4">{{job.title}}</h2>
      <h4 class="card-subtitle mb-4">{{job.company}}</h4>
      <h6 class="card-subtitle mb-4">{{job.pay_range}}</h6>
      <p class="card-text mb-4">{{job.notes}}</p>
      <p class="card-text mb-4">Status: {{job.status}}</p>
        {% if job.resume_groomed %}
          <p class="card-text"><span class="">Resume: </span>Ready</p>
        {% else %}
          <p class="card-text">Resume: Not Ready</p>
        {% endif %}
      <a href="{% url 'update-job' job.id %}" class="card-link">Edit</a>
      <a href="{% url 'delete-job' job.id %}" class="card-link">Delete</a>
     </div>
  </div>
</section>
{% endblock %}
