{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<section class="container d-flex flex-column align-items-center">
  <div class="mb-4">
  {% if jobs %}
    <h2>Edit Job</h2>
  {% else %}
    <h2>Add a Job</h2>
  {% endif %}
  </div>
  <div class="card shadow" style="background-color: ;">
    <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success">
      </form>
    </div>
  </div>
</section>

{% endblock %}