{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/job_form.css' %}">
{% endblock %}

{% block content %}

<section class="container d-flex flex-column align-items-center">
  <div class="mb-4">
  {% if job %}
    <h2>Edit {{job}} @ {{job.company}}</h2>
  {% else %}
    <h2>Add a Job</h2>
  {% endif %}
  </div>
  <div class="card shadow" style="background-color: #ffe580;">
    {% comment %} <div class="card-body"> {% endcomment %}
      <div class="form-control">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-success">
        </form>
    </div>
    {% comment %} </div> {% endcomment %}
  </div>
</section>

{% endblock %}