{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<section class='container'>
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">{{job.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{job.company}}</h6>
      <h6 class="card-subtitle mb-2">{{job.pay_range}}</h6>
      <p class="card-text">{{job.notes}}</p>
        {% if job.resume_groomed %}
          <p class="card-text"><span class="">Resume: </span>Ready</p>
        {% else %}
          <p class="card-text">Resume: Not Ready</p>
        {% endif %}
      <a href="#" class="card-link">Edit</a>
      <a href="#" class="card-link">Delete</a>
     </div>
  </div>
</section>
{% endblock %}
