{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
    <h1>Jobs Page</h1>
{% if not jobs %}
  <a href="{% url 'create-job' %}">Add some jobs to get started!</a>
{% else %}
  <a href="/create-job">Add a job</a>
      <table>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th></th>
          <th></th>
        </tr>
        {% for job in jobs %}
          <tr>
            <td><a href="{% url 'job-details' job.id %}">{{ job.title }}</a></td>
            <td>{{ job.company }}</td>
            <td><a href="{% url 'update-job' job.id %}">Edit</a></td>
            <td><a href="{% url 'delete-job' job.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </table> 
  {% endif %}

{% endblock  %}