{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--Start Header-->
<header id="header" class="d-flex align-items-center">
  <div
   class="container d-flex
    justify-content-between align-items-center">

    <div class="logo">
      <a href="/">
        <img
         src="{% static "images/Careerpioneername.png" %}" alt="Logo"
         class="img-fluid">
      </a>
    </div>
    <!-- Start NavBar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a class="active" href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'status' %}">Status</a></li>
        <li><a href="{% url 'create-platform' %}">Platform</a></li>
        <li><a href="/details">Details</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
      <i class="bi bi-list mobile-nav-toggle fa-solid fa-bars"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!--Main Stylesheet-->
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Your Jobs</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Jobs</li>
        </ol>
      </div>
    </div>
  </section>

  <div class="add-job">
  {% if not jobs %}
    <h3>Add a job to get started!</h3>
      <a
      class="jobs"
      href="/create-job">
      Add a job
      </a>
  {% else %}
    <a class="jobs" href="/create-job">Add A Job</a>
  </div>
  <section class="services">
    <div class="container service-container">
        {% for job in jobs %}
            <div class="col-md-6 col-lg-3 align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                <div class="icon"><i class="fa-solid fa-code"></i></i></div>
                <h4 class="title">{{ job.title }}</h4>
                <p class="description">{{ job.company }}</p>
                <div class="job-buttons">
                  <div class="edit-delete">
                    <a class="job-options"href="{% url 'update-job' job.id %}">Edit</a>
                    <a class="job-options"href="{% url 'delete-job' job.id %}">Delete</a>
                  </div>
                  <a class="job-options details"href="{% url 'job-details' job.id %}">Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </section>
  {% endif %}

{% endblock  %}

