{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}

<h1>Statuses</h1>
    <table>
      <tr>
        <th>Status</th>
      </tr>
      {% for stat in status %}
        <tr>
          <td>{{ stat.name }}</td>
          <td><a href="{% url 'delete-status' stat.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>

<h1>Add a Status</h1>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit">
</form>

{% endblock content %}