{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--Start Header-->
<header id="header" class="d-flex align-items-center">
  <div
   class="container d-flex
    justify-content-between align-items-center">

    <div class="logo">
      <a href="/" class="header-logo-text">CAREER PIONEER</a>
    </div>
    <!-- Start NavBar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a class="active"href="{% url 'status' %}">Status</a></li>
        <li><a href="{% url 'create-platform' %}">Platform</a></li>
        <li><a href="/details">Details</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
      <i class="bi bi-list mobile-nav-toggle fa-solid fa-bars"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!--Main Stylesheet-->
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>All Statuses</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Status</li>
        </ol>
      </div>
    </div>
  </section>
  <div class="flex-container">
    <section class="all-section">
      <h2>Avaliable Statuses</h2>
      {% for stat in status %}
          <h5>{{ stat.name }}</h5>
        <a href="{% url 'delete-status' stat.id %}">Delete</a>
      {% endfor %}
    </section>
    <section class="form-section">
      <h2>Add a Status</h2>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </section>
  </div>

{% endblock content %}